<div class="container">
<div class="jumbotron">
<div class="text-info">
<h1><center>This is Just a Ad-Post Application</center></h1>
<p><center><%= link_to "Fork Me", "/" %></center></p>
</div>
</div>
</div>
